<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link href='http://fonts.googleapis.com/css?family=Anton|Muli|Amatic+SC' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Archivo+Narrow|Cuprum|Pathway+Gothic+One' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "The Outsiders" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr", "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="row">
    <div class="top-ad-logo">
        <div class="large-3 columns">
            <%= image_tag "logo3.png", class: "logo" %>
        </div>

        <div class="large-6 columns top-ad">
          <%= image_tag "top-ad.png"%>
        </div>

        <div class="large-3 columns ">
          <ul class="inline-list" id="social-media">
            <li> <%= link_to "#{image_tag "webicon-facebook.png"}".html_safe, "www.facebook.com" %></li>
            <li> <%= link_to "#{image_tag "webicon-twitter.png"}".html_safe, "www.twitter.com" %></li>
            <li> <%= link_to "#{image_tag "webicon-youtube.png"}".html_safe, "www.youtube.com"%></li>

          </ul>


        </div>

    </div>
    <% if user_signed_in? %>
        <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-dropdown">
                <a href="#">Options</a>
                <ul class="dropdown">
                  <li><a href="#">First link in dropdown</a></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>></li>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><%=link_to "Home", root_path %></li>
              <li><%=link_to "Profile", current_user %></li>
              <li><%=link_to "Users", users_path %></li>
              <li><%=link_to "Photos", user_photos_path(current_user) %></li>
              <li><a href="#" data-reveal-id="photoModal">New Photo</a></li>
              <li><%=link_to "Videos", user_videos_path(current_user) %></li>
              <li><a href="#" data-reveal-id="videoModal">New Video</a></li>
            </ul>
          </section>
        </nav>
        <div id="photoModal" class="reveal-modal" data-reveal>
          <%= render "welcome/photo_form" %>
          <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="videoModal" class="reveal-modal" data-reveal>
          <%= render "welcome/video_form" %>
          <a class="close-reveal-modal">&#215;</a>
        </div>

    <% end %>
    <%= yield %>

    <%= javascript_include_tag "application" %>
  </div>


  </body>
</html>
